#Server config
PORT = "8888"

#Logger config
LOG_LEVEL = "info"

#MQTT config
MQTT_HOST = "mqtt://broker.hivemq.com"
MQTT_PORT = 1883
MQTT_USERNAME = ""
MQTT_PASSWORD = ""
MQTT_TOPIC_PREFIX = "/noibinhyen/mcd"

#Twilio config
TWILIO_ENABLED=false
TWILIO_ACCOUNT_SID = "xxx"
TWILIO_AUTH_TOKEN = "xxx"
TWILIO_PHONE_NUMBER = "xxx"

#JWT
JWT_SECRET_KEY = "f6vF4kSegFblPhO0TYQV0Hh8s7vmtiAt6c5utRXd1742pgpBDDyRCESoEIXwtDZc"
JWT_ALGORITHM = "HS256"
JWT_EXPIRATION_TIME = "100d"